<body>
    <h1>Link de restablecimiento de contraseña caducado</h1>
    <p>El enlace de restablecimiento de contraseña ha caducado.</p>
    <p>Haga clic en el siguiente botón para ir a la página de restablecimiento de contraseña:</p>
    <a href="/users/recover-password">Restablecer Contraseña</a>
</body>