  <h1>Cambiar Contraseña</h1>
    <form action="/api/sessions/reset-password/{{token}}" method="POST">
        <label for="password">Nueva Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirmPassword">Confirmar Nueva Contraseña:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
         <div id="passwordMatchError" style="color: red; display: none;">Las contraseñas coinciden con la anterior.</div>
        <button type="submit" onclick="checkPasswordMatch()">Cambiar Contraseña</button>
    </form>

    <script>
    function checkPasswordMatch() {
        var password = document.getElementById('password').value;
        var confirmPassword = document.getElementById('confirmPassword').value;
        if (password === confirmPassword && password !== '') {
            document.getElementById('passwordMatchError').style.display = 'block';
            return false;
        } else {
            document.getElementById('passwordMatchError').style.display = 'none';
            return true; 
        }
    }
</script>